{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Veterinaria Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/clinic.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header común -->
    <header>
        <h1><a class="logo-link">Veterinaria DJANGO</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="btn">Inicio</a></li>
                <li><a href="{% url 'clinic_home' %}" class="btn">Nosotros</a></li>
                <li><a href="" class="btn">Servicios</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido que cambia -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer común -->
    <footer>
        <p>&copy; 2024 Veterinaria Django - Todos los derechos reservados.</p>
    </footer>

</body>
</html>
