{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro historia clínica</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/clinic.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Veterinaria DJANGO</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section class="form-section">

        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>


        <h2>Registrar Historia Clínica</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-container">
                {{ form.as_p }}
                <button type="submit" class="btn">Guardar</button>
            </div>
            </div>
        </form>
    </section>
    <footer>
        <p>&copy; 2024 Veterinaria Django - Todos los derechos reservados.</p>
    </footer>
</body>

</html>