{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro historia clínica</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/clinic.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Veterinaria DJANGO</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section class="form-section">

        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>


        <h2>Registrar Consulta médica</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-container">
                <div class="form-group">
                    <label for="{{ form.nombre_mascota.id_for_label }}">Nombre de la Mascota</label>
                    {{ form.nombre_mascota }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.especie.id_for_label }}">Especie</label>
                    {{ form.especie }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.raza.id_for_label }}">Raza</label>
                    {{ form.raza }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.edad.id_for_label }}">Edad</label>
                    {{ form.edad }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.duenio.id_for_label }}">Dueño</label>
                    {{ form.duenio }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.telefono_contacto.id_for_label }}">Teléfono de Contacto</label>
                    {{ form.telefono_contacto }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.departamento.id_for_label }}">Departamento</label>
                    {{ form.departamento }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.ciudad.id_for_label }}">Ciudad</label>
                    {{ form.ciudad }}
                </div>
        
                <div class="form-group">
                    <label for="{{ form.fecha_atencion.id_for_label }}">Fecha de Atención</label>
                    {{ form.fecha_atencion }}
                </div>
        
                <div class="form-group textarea">
                    <label for="{{ form.motivo_consulta.id_for_label }}">Motivo de Consulta</label>
                    {{ form.motivo_consulta }}
                </div>
        
                <div class="form-actions">
                    <button type="submit" class="btn">Guardar</button>
                </div>
            </div>
        </form>
        
    </section>
    <footer>
        <p>&copy; 2024 Veterinaria Django - Todos los derechos reservados.</p>
    </footer>
</body>

</html>