{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Mascotas</title>
    <link rel="stylesheet" href="{% static 'pets_list.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Veterinaria DJANGO</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="form-section">
            <div class="layout">
                <aside class="sidebar-buttons">
                    <a href="{% url 'pets_home' %}">Agregar Mascota</a>
                    <a href="{% url 'mascotas_visit' %}">Agregar Visita</a>
                    <a href="{% url 'mascotas_toy' %}">Agregar Juguete</a>
                </aside>
        
                <div class="main-content">
                    <h2>Listado de Mascotas</h2>
                    <div class="container">
                        <div class="card">
                            <img src="{% static 'images/perro.jpg' %}" alt="Mascota" class="form-image">
                            <div class="card-content">
                                <h3>Nombre: Thor</h3>
                                <p>Propietario: Tatiana</p>
                                <p>Especie: Perro</p>
                                <p>Edad: 4 años</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/gato.png' %}" alt="Mascota" class="form-image">
                            <div class="card-content">
                                <h3>Nombre: Solecito</h3>
                                <p>Propietario: Natalia</p>
                                <p>Especie: Gato</p>
                                <p>Edad: 7 años</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'images/tortuga.jpeg' %}" alt="Mascota" class="form-image">
                            <div class="card-content">
                                <h3>Nombre: Luna</h3>
                                <p>Propietario: Ana</p>
                                <p>Especie: Tortuga</p>
                                <p>Edad: 2 años</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="foot">
        <p>&copy; 2024 Veterinaria Django - Todos los derechos reservados.</p>
    </footer>
</body>

</html>
