{% extends 'base.html' %}
{% load static %}

{% block title %}Registro de Visita{% endblock %}

{% block content %}
<a href="{% url 'mascotas_list' %}" class="back-btn">← Volver</a>

<main>
    <section class="form-section">
        <!-- Formulario -->
        <div class="form-container wide-form">
            <h2>Registrar Visita</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    <label for="pet">Mascota</label>
                    <select id="pet" name="pet" required>
                        {% for mascota in mascotas %}
                        <option value="{{ mascota.id }}">{{ mascota.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <label for="date">Fecha y hora:</label>
                    <input type="datetime-local" id="date" name="date" required>
                </p>
                <p>
                    <label for="reason_select">Razón de la visita:</label>
                    <select name="reason_select" id="reason_select" onchange="mostrarCampoOtro()" required>
                        <option value="">-- Selecciona una opción --</option>
                        <option value="Vacunación">Vacunación</option>
                        <option value="Consulta médica">Consulta médica</option>
                        <option value="Control de peso">Control de peso</option>
                        <option value="Otro">Otro</option>
                    </select>
                <div id="otra_razon_div" style="display:none;">
                    <label for="reason_text">Especifica la razón:</label>
                    <input type="text" name="reason_text" id="reason_text">
                </div>
                </p>
                <button type="submit" class="btn">Guardar</button>
            </form>
            <script>
                function mostrarCampoOtro() {
                    var select = document.getElementById("reason_select");
                    var otraDiv = document.getElementById("otra_razon_div");
                    var otraInput = document.getElementById("reason_text");

                    if (select.value === "Otro") {
                        otraDiv.style.display = "block";
                        otraInput.required = true;
                    } else {
                        otraDiv.style.display = "none";
                        otraInput.required = false;
                    }
                }
            </script>
        </div>

        <!-- Imagen decorativa -->
        <img src="{% static 'images/visita.jpg' %}" alt="Juguete mascota" class="form-image">
    </section>
</main>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'pets_visit.css' %}">
{% endblock %}