{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear/Editar Factura</title>
    <link rel="stylesheet" href="{% static 'billing.css' %}">
</head>
<body>

<header>
    <h1>Veterinaria - Facturación</h1>
    <nav>
        <ul>
            <li><a href="{% url 'listar_facturas' %}">Lista de Facturas</a></li>
            <li><a href="{% url 'crear_factura' %}">Nueva Factura</a></li>
        </ul>
    </nav>
</header>

<section class="form-section">
    <h2>{% if form.instance.pk %}Editar Factura{% else %}Crear Factura{% endif %}</h2>
    <form method="post" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Guardar</button>
    </form>
</section>

</body>
</html>

