{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'inventory_home' %}" class="btn">Veterinaria DJANGO</a></h1>
    </header>

    <section class="product-detail">
        <h2>Detalle del Producto</h2>
        <ul>
            <li><strong>Nombre:</strong> {{ nombre }}</li>
            <li><strong>Stock:</strong> {{ stock }}</li>
            <li><strong>Precio:</strong> ${{ precio }}</li>
            <li><strong>Descripción:</strong> {{ descripcion }}</li>
        </ul>
        <a href="{% url 'inventory_home' %}" class="btn">Volver al inventario</a>
    </section>
</body>
</html>
